.home{
    background-color: rgba(248, 247, 247, 0.77);
    padding: 50px;
    border-radius: 20px;
    border: 3px solid rgb(43, 202, 218);
}

th {
    color: rgb(43, 202, 218);
    font-size: 30px;
    padding-bottom: 20px;
}
td {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.75);
    padding-bottom: 20px;
}