
input {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.button {
    width: 120px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: rgb(135, 209, 222);
}
postForm, form {
    text-align: center;
}
label {
    color: rgb(43, 202, 218);
    font-size: 20px;
}
select {
    margin-top: 17px;
    margin-bottom: 29px;
}