header {
    position: fixed;
    text-align: center;
    width: 99%;
    display: block;
    top: 0;
    background-color: black;
    z-index: +1;
}
header div img {
    height: 115px;
}
nav ul.menu {
    border-bottom: 1px solid red;
    border-top: 1px solid red;
}
.menu li {
    display: inline-block;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 5px 25px;
}
.menu li a {
    color: white;
    font-family: Bahnschrift, serif;
    text-decoration: none;
    font-weight: 700;
}
.menu li a:hover {
    color: #ff5e5e;
}
main {
    margin: 220px 20% 100px;
}