header {
    position: fixed;
    text-align: center;
    width: 99%;
    display: flex;
    justify-content: start;
    top: 0;
    background-color: rgb(43, 202, 218);
    z-index: +1;
    border: 1px solid black;
    height: 80px;
}
header img {
    width: 200px;
    height: 80px;
}
header img.logo {
    margin-left: 40px;
    margin-right: 15px;
    width: 200px;
    height: 75px;
}
main div.menu {
    border: 1px solid black;
    background-color: rgb(43, 202, 218);
    height: 590px;
    width: 330px;
}
main div.menu nav ul {
    border-bottom: 1px solid black;
}
main div.menu nav ul li {
    display: block;
    padding: 3px 20px 12px;
}
a.enlace {
    color: black;
    font-family: Bahnschrift, serif;
    text-decoration: none;
    font-weight: 700;
}
a.enlace:hover {
    color: #ffffff;
}
main {
    display: flex;
    margin-top: 80px;
}
.maincontent {
    width: 99%;
    background-image: url('https://img.freepik.com/vector-gratis/fondo-marco-fiesta-ano-nuevo-festivo-cintas-vector-azul-espacio-diseno_53876-114711.jpg?w=2000');
    padding: 40px 50px;
}